body {
    margin: 0;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 300;
    height: 100%;
    line-height: 24px;
    font-size: 18px;
    color: #666;
}

img {
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    margin: 0 0 20px 0;
}

h1 {
    font-size: 46px;
    font-weight: 100;
    line-height: 42px;
    color: #fff;
}

h2 {
    font-size: 36px;
    font-weight: 100;
    line-height: 36px;
}

h3 {
    font-size: 25px;
    font-weight: 200;
}

h4 {
    font-size: 18px;
    font-weight: 100;
    color: #fff;
}

h5 {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 10px;
    letter-spacing: 1px;
}

p {
    margin-top: 5px;
    line-height: 24px;
}

ul {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

.red-span {
    color: #671711;
    font-weight: 600;
}

.subtitle {
    color: #671711;
    font-weight: 400;
}

/*---navigation-----*/

nav {
    position: fixed;
    width: 100%;
    line-height: 20px;
    z-index: 1;
}

nav ul {
    line-height: 20px;
    list-style: none;
    background: black;
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    transition: 1s;
    max-height: 0;
}

nav.black ul {
    background: #000;
}

.showing {
    max-height: 34em;
}

nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 20px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: block;
}

/* The hero image */

header {
    background-image: url("/images/header.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-callout {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.row {
    padding: 15% 0 5% 0;
}

.call-out {
    text-align: center;
    margin-bottom: 15%;
}

.col-3 {
    display: flex;
    flex-direction: column;
}

/* -- WELCOME SECTION --*/

/* -------------------*/

#welcome {
    padding: 5%;
}

.title {
    border-left: #671711 solid 3px;
    padding-left: 10px;
    margin: 0 25% 15px 0;
}

.title-bold {
    font-weight: 500;
    color: #671711;
}

.short-desc {
    margin: 0 25% 70px 0;
}

.icon {
    height: auto;
    width: 48px;
}

/* -- ABOUT SECTION --*/

/* -------------------*/

#about {
    background-color: #f8f9fa;
    padding: 5%;
}

.fas {
    padding-right: 20px;
    color: #671711;
}

/* -- TECHNOLOGIES --*/

/* -------------------*/

#technologies {
    padding: 5%;
}

.half {
    margin-bottom: 5%;
}

.tech-stack {
    display: flex;
    justify-content: space-between;
}

.col-3 img {
    padding: 10px;
    width: 75px;
    height: auto;
}

/* -- OUR SERVICES --*/

/* -------------------*/

#services {
    background-color: #f8f9fa;
    padding: 5%;
}

.s-call-out {
    padding: 40px;
    box-shadow: 0 5px 35px -7px #ccc;
    border: 2px solid transparent;
    text-align: center;
}

/* -- HOW WE WORK --*/

/* -------------------*/

#howwework {
    padding: 5%;
}

.circle {
    border-radius: 50%;
    filter: brightness(60%);
}

/* -- FAQS --*/

/* -------------------*/

#faqs {
    padding: 5%;
}

.question-container::before {
    content: "-";
    float: left;
    padding-right: 5px;
    font-weight: 600;
}

.questions {
    margin-top: 40px;
}

.question {
    color: #671711;
    font-weight: 600;
}

.answer {
    background-color: #f4f4f4;
    padding: 10px;
}

div.answer {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom: 10px;
}

div.answer.show {
    opacity: 1;
    max-height: 500px;
}

/* -- OUR WORK --*/

/* -------------------*/

#ourwork {
    padding: 5%;
}

/* -- OUR BLOG --*/

/* -------------------*/

#ourblog {
    padding: 5%;
}

/* -- CONTACT --*/

/* -------------------*/

#contact {
    padding: 5%;
}

input[type=text] {
    border-radius: 3px;
    border: 1px solid #eeeeee;
    /* padding: 12px 20px; */
    margin: 8px 0;
    box-sizing: border-box;
    height: 30px;
}

#mce-FNAME {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    /* padding: 12px 20px; */
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    /* padding: 12px 20px; */
    margin: 8px 0;
    box-sizing: border-box;
    height: 30px;
}

input[type=submit] {
    width: 50%;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

#mce-MESSAGE {
    width: 100%;
    height: 150px;
    resize: none;
    border-radius: 3px;
    box-sizing: border-box;
}

/*--------------------------------------DESKTOP-------------------------*/

@media screen and (min-width: 1024px) {
    body {
        margin: 0;
        font-family: 'Monsterrat', sans-serif;
        font-weight: 300;
        height: 100%;
        line-height: 24px;
        font-size: 15px;
        color: #666;
    }
    h3 {
        font-size: 30px;
        font-weight: 300;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 24px;
        font-weight: 500;
        line-height: 27px;
    }
    .row {
        padding: 0 0 0 0;
    }
    nav ul {
        background: rgba(0, 0, 0, 0);
        max-height: 60px;
        padding: 20px 0 20px 0;
    }
    nav.black ul {
        background: black;
    }
    .menu-icon {
        display: none;
    }
    .showing {
        max-height: 0;
    }
    nav li {
        padding: 15px;
    }
    nav ul li {
        display: inline;
        text-align: right;
    }
    /* -- WELCOME SECTION --*/
    /* -------------------*/
    #welcome {
        padding: 80px 0;
    }
    .welcome-content {
        max-width: 85%;
        margin-right: auto;
        margin-left: auto;
    }
    .welcome-cards {
        display: flex;
        justify-content: space-between;
    }
    .call-out {
        margin-bottom: 0;
        width: 22%;
    }
    .title {
        border-left: #671711 solid 3px;
    }
    .short-desc {
        margin: 0 61% 70px 0;
    }
    /* -- ABOUT SECTION --*/
    /* -------------------*/
    #about {
        width: 100%;
        padding: 80px 0;
    }
    .about-content {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }
    .about-container {
        display: flex;
        justify-content: space-between;
    }
    .about-half {
        flex: 0 0 50%;
        max-width: 50%;
        margin-right: 30px;
    }
    .about-check {
        display: flex;
        justify-content: space-between;
    }
    /*   Technologies we use */
    #technologies {
        width: 100%;
        padding: 80px 0;
    }
    .tech-content {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }
    .tech-container {
        display: flex;
        justify-content: space-between;
    }
    .tech-half {
        flex: 0 0 50%;
        max-width: 50%;
        margin-right: 30px;
    }
    .tech-stack {
        display: flex;
        justify-content: space-between;
    }
    .col-3 img {
        padding: 10px;
        width: 100px;
        /* height: auto;         */
    }
    /* -- OUR SERVICES --*/
    /* -------------------*/
    #services {
        padding: 80px 0;
    }
    .services-content {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }
    .services-cards {
        display: flex;
        justify-content: space-between;
    }
    .s-call-out {
        width: 24%;
    }
    /* -- HOW WE WORK --*/
    /* -------------------*/
    #howwework {
        padding: 80px 0;
    }
    .howwework-content {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }
    .howwework-cards {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .h-call-out {
        width: 29%;
    }
    /* -- FAQS --*/
    /* -------------------*/
    #faqs {
        padding: 0;
    }
    .faqs-content {
        display: flex;
    }
    .f-half {
        width: 50%;
    }
    .f-half-left {
        padding: 5%;
    }
    .f-half-right {
        background-image: url("/images/faqs.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* -- OUR WORK --*/
    /* -------------------*/
    #ourwork {
        padding: 80px 0 80px 0;
    }
    .ourwork-content {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }
    /* -- CONTACT --*/
    /* -------------------*/
    #contact {
        padding: 80px 0 80px 0;
    }
    .contact-content {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }
    .contact-container {
        display: flex;
        justify-content: space-between;
    }
    .c-half {
        width: 50%;
    }
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
}

/* iPhone 4 ----------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}